[Unit]
Description=Control the glint service
After=mysql.service

[Service]
Type=simple
User=root
Group=root
PIDFile=/run/glint.pid
ExecStart=/usr/local/863/bin/glint --websocket 127.0.0.1:3009 --cert /usr/local/863/certific/server.pem --key /usr/local/863/certific/server.key
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target